extends layout

block content
  h1 #{title}
  p Subscribe to receive information on building your business online!
  input(
    type='text'
    placeholder='First Name'
  )
  input(
    type='text'
    placeholder='Last Name'
  )
  input(
    type='text'
    placeholder='Email'
  )